

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFF6E4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffb443ba;
  padding: 15px 40px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.company-name {
  color: #000000;
  font-size: 30px;
  text-decoration: none;
  font-weight: 600;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #000000;
  padding: 10px;
  border-radius: 10%;
}

a {
  text-decoration: none;
}

.weather-info p {
  margin: 0;
  font-size: 16px;
  color: #FFF6E4;
}



/* Container for the todo list */
.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #ffda89e5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.input-container {
  display: flex;
}

/* Input field styles */
.input-container input[type="text"] {
  font-family: 'Roboto', sans-serif;
  flex: 1;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}

.input-container button {
  padding: 10px 20px;
  background-color: #ff9900;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 0 4px 4px 0;
  font-size: 18px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #ff6a00;
}

.task-list {
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ced4da;
}

.task-item p {
  margin: 0;
  flex: 1;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.task-item p:hover {
  text-decoration: line-through;
}

.task-item button {
  background-color: #ffda893a;
  border: none;
  border-radius: 4px;
  padding: 5px 3px 1px 3px;
  cursor: pointer;
}

.task-item button:hover {
  background-color: #ff0000;
}

.completed p {
  text-decoration: line-through;
}

@media (max-width: 600px) {
  .container {
    padding: 10px; /* Adjusted for mobile */
    margin: 20px; /* Adjusted for mobile */
    max-width: calc(100% - 40px); /* Adjusted for mobile */
  }

  .navbar {
    padding: 10px 20px; /* Adjusted for mobile */
  }

  .company-name {
    font-size: 24px; /* Adjusted for mobile */
  }

  .weather-info {
    padding: 8px; /* Adjusted for mobile */
  }

  .weather-info p {
    font-size: 14px; /* Adjusted for mobile */
  }

  .input-container input[type="text"] {
    padding: 8px; /* Adjusted for mobile */
    font-size: 14px; /* Adjusted for mobile */
  }

  .input-container button {
    padding: 8px 16px; /* Adjusted for mobile */
    font-size: 16px; /* Adjusted for mobile */
  }

  .task-item {
    padding: 8px; /* Adjusted for mobile */
  }

  .task-item p {
    font-size: 16px; /* Adjusted for mobile */
  }

  .task-item button {
    padding: 3px; /* Adjusted for mobile */
  }
}